html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.social {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

i.icon-instagram-sign, i.icon-instagram { color: #9a3f9b !important; }
i.icon-googleplus-sign, i.icon-googleplus { color: #cc3838 !important; }
